<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/> 
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="ConfigDataMover.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <param name="AcceptOnMatch" value="false" />
        <stringToMatch value="RECORD ERROR" />
      </filter>
    </appender>
    <appender name="RecordErrorFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="RecordError.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[BEGIN JOB AT %date]%newline" type="log4net.Util.PatternString" />
        <footer value="[END JOB AT %date]%newline" type="log4net.Util.PatternString" />
        <conversionPattern value="%d %m%n" />
        <!--<param name="ConversionPattern" value="%d %m%n" />-->
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="RECORD ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <param name="AcceptOnMatch" value="false" />
        <stringToMatch value="RECORD ERROR" />
      </filter>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RecordErrorFileAppender" />
    </root>
  </log4net>
</configuration>